<h1>Cheat Sheet :</h1>
<br />
<h6>.       - Any Character Except New Line</h6>
<br />
<h6>\d      - Digit (0-9)</h6>
<br />
<h6>\D      - Not a Digit (0-9)</h6>
<br />
<h6>\w      - Word Character (a-z, A-Z, 0-9, _)</h6>
<br />
<h6>\W      - Not a Word Character</h6>
<br />
<h6>\s      - Whitespace (space, tab, newline)</h6>
<br />
<h6>\S      - Not Whitespace (space, tab, newline)</h6>
<br />
<h6>\b      - Word Boundary</h6>
<br />
<h6>\B      - Not a Word Boundary</h6>
<br />
<h6>^       - Beginning of a String</h6>
<br />
<h6>$       - End of a String</h6>
<br />
<h6>[]      - Matches Characters in brackets</h6>
<br />
<h6>[^ ]    - Matches Characters NOT in brackets</h6>
<br />
<h6>|       - Either Or</h6>
<br />
<h6>( )     - Group</h6>
<br />
<h3>Quantifiers: </h3>
<br />
<h6>*       - 0 or More</h6>
<br />
<h6>+       - 1 or More</h6>
<br />
<h6>?       - 0 or One</h6>
<br />
<h6>{3}     - Exact Number</h6>
<br />
<h6>{3,4}   - Range of Numbers (Minimum, Maximum)</h6>