{% extends 'appPages/base.html' %}

{% block content %}
    <form>
        <div class="row"> 
            <div class="col-md-12 form-group " >
                <label for="RegExInput">RegEx</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-12 form-group">
                <label for="FormControlTextarea">Test String</label>
                <textarea class="form-control" rows="3"></textarea>
            </div>
        </div>
    </form>
{% endblock content %}